<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">maxence Category Sidebar</label>
    <label lang="en">maxence Category Sidebar</label>

    <version>1.0.0</version>
    <copyright>(c) 2019 by maxence business consulting gmbh, Dormagen, Germany. All rights reserved.</copyright>
    <license>proprietary</license>
    <link>http://store.shopware.com</link>
    <author>maxence business consulting gmbh</author>
    <compatibility minVersion="5.3.0"/>

    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung;</changes>
        <changes lang="en">Initial release;</changes>
    </changelog>

</plugin>
